* {
    box-sizing: border-box;
     
    margin: 0px;
    padding: 0px;
}
.heading {
    background-color: rgba(0, 0, 0, 0.986);
    padding: 2vw 0vw ;
}
.heading h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading h2 {
    color: blanchedalmond;
    text-align: center;
}

form {
    text-align: center;
}
form input {
    padding: 1vw;
    border-radius: 2vw;
    margin: 2vw;
    border: solid black 0.2vw;
    background-color: ivory;
}
form select {
    padding: 1vw;
    border-radius: 2vw;
    margin: 2vw;
    border: solid black 0.2vw;
    background-color: ivory;
}
select option {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}
 
select optgroup{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: ivory;
    
}
 
 
 

.submitButton:hover, .navigateRegister:hover, .navigateLogin:hover {
    background-color: black;
    color: white;
 }
 .logoutButton:hover, .pharmacyPart button:hover, .medicineTracker button:hover{
    background-color: black;
    color: white;
 }
 .submitButton, .logoutButton, .pharmacyPart button, .medicineTracker button, .navigateRegister, .navigateLogin {
      display: block;
      margin: 0 auto;
      font-size: 1.2vw;
      border-radius: 0.5vw;
      font-family:  'Arial';
      font-weight: 300;
      cursor: pointer;
      padding: 0.5vw;
      background-color: ivory;
     
  }
  .logoutButton {
     margin-left: 95%;
     background-color: ivory;
  }
  p {
    font-size: 1.2vw;
    text-align: center;
  }
  .pharmacyPart, .medicineTracker {
      text-align: center;
  }
  .pharmacyPart h1, .medicineTracker h1 {
      margin: 2vw 0;
      font-family: Arial, Helvetica, sans-serif;
  }
  .pharmacyPart input, .medicineTracker input {
    padding: 1vw;
    border-radius: 2vw;
    margin: 2vw;
    border: solid black 0.2vw;
    background-color: ivory;
}
#pharmacyList  {
    margin: 1vw 3vw;
    background-color: mistyrose;
    color: navy;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .showStatus {
      background-color: rgba(205, 223, 200, 0.76);
      margin: 2vw 8vw;
      border-radius: 2vw;
      padding: 2vw 0 ;
  }
  .showStatus p {
      font-size: 1.6vw;
      margin: 0.5vw;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-left: 40%;
      text-align: left;
  }
  .medicineStatus button, .medicineTracker button{
    background-color: ivory;
  }
  .medicineStatus button {
      font-size: 1vw;
      background-color: mistyrose;
      font-weight: bold;
  }
  .medicineStatus p {
      display: block;
      font-size: 1.3vw;
      font-weight: bold;
      padding: 0.3vw;
      font-family: sans-serif;
  }

  .medicineTracker h1 {
    font-family: sans-serif;
  }
  .medicineTracker {
      background-color: rgba(205, 223, 200, 0.76);
      border-radius: 4vw;
      margin: 0 6vw;
      padding-bottom: 10px;
  }

  .bookApointment {
    background-color: rgba(205, 223, 200, 0.76);
    border-radius: 4vw;
    padding: 3vw 0;
    margin: 0vw 4vw;
    
}
.bookApointment h1 {
    font-family: sans-serif;
}

.pharmacyPart  {
        background-color: rgba(205, 223, 200, 0.76);
        border-radius: 4vw;
        margin: 0 6vw;
        padding: 1vw 0;
    
    }

.pageContent {
    height: 75vh;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    background-size: cover;
     
}
.pageContent h1 {
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
 
}

