/*
* {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}
 body {
     background-color: cornsilk;
     margin: 0;
 }
 .heading {
     text-align: center;
     background-color:rgba(0, 0, 0, 0.952);
     font-family: cursive;
     color: orange;
     padding: 1.5vw 0;
 }
 button:hover {
   background-color: black;
   color: white;
}
 button {
     display: block;
     margin: 0 auto;
     font-size: 1.5vw;
     border-radius: 0.5vw;
     font-family:  'Arial';
     font-weight: 300;
     cursor: pointer;
     padding: 0.5vw;
    
 }
 */