 #doctorCardHeading {
     text-align: center;
     font-size: 2.5vw;
     font-family: Helvetica, sans-serif;
 }
 #doctorCard {
     margin: 2.5vw 10vw;
     border: 2px solid black;
     padding:  2vw;
     border-radius: 50px;
     background-color: coral;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     
 }
 #doctorCard h1 {
     font-size: 1.5vw;
     margin-left: 5vw;
 }
 #doctorCard h1 span {
     color: darkred;
 }